/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar.navbar-inverse.navbar-fixed-top {
	background-color: #2C3E50;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.navbar-default {
    background-color: red;
	color: red;
    border-color: #E7E7E7;
}